<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.example.myscript</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/bash</string>
      <string>/Users/dosaki/Desktop/Projects/mine/dpawsit.github.io/cron.sh</string>
    </array>
    <key>StartInterval</key>
    <integer>60</integer>
    <key>StandardOutPath</key>
    <string>/Users/dosaki/Desktop/Projects/mine/dpawsit.github.io/cron_logs.txt</string>
    <key>StandardErrorPath</key>
    <string>/Users/dosaki/Desktop/Projects/mine/dpawsit.github.io/cron_logs.txt</string>
  </dict>
</plist>